# Java 컴파일 파일
*.class

# 이클립스 메타데이터 및 설정 (팀 환경에 따라 .project, .classpath는 포함할 수도 있음)
.metadata/
.settings/
.project
.classpath
.recommenders/

# 빌드 결과물
build/
bin/
target/

# 로그 및 임시 파일
*.log
tmp/

# OS 관련 파일
.DS_Store (Mac용)
Thumbs.db (Windows용)